<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="1" preserve-order="true" name="/Users/ivy/IdeaProjects/mavenDemo1">
        <groups>
        <dependencies>
        <group name="group1" depends-on="">
        <classes>
            <!--<class name="TestUnit">-->
            <class name="TestMaterial">
                <methods>
                    <!--<include name="testMaterialPost1"></include>-->
                    <!--<include name="testUnitGet"></include>-->
                </methods>
            </class>

        </classes>
        </group>
        </dependencies>
        </groups>
    </test>
</suite>

